@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: rgb(255, 213, 255);
    display: flex;
    /*A propriedade display altera como serão organizados os itens que estão dentro de determinados elementos.
    display flex: transforma o elemento em um container flexivel que se adquará aos itens internos e permitirá que você organize as posições dos mesmos dentro do container */
   align-items: center;
    /* align-items é a propriedade que manda na organização do eixo cruzado (cross=axis) em um display flexível */
    justify-content: space-around;
    width: 95vw;
    height: 30vw;
    margin: auto;
}

.caixa {
    width: 5cm;
    height: 5cm;
    background-color: antiquewhite;
    border: 5px solid rgb(223, 203, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    
}

.caixa img {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
}

.botao-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(223, 203, 255);
    color: #4b0082;
}

.botao-link:hover {
    background-color: #4b0082;
    color: rgb(223, 203, 255);
  
}

#caixa1{
    order:3
}
